<h2><%= t('.profile_title') %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <% f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
  </div>

  <div class="form-actions mt-4 mb-4">
    <%= f.button :submit, t('.save'), class: 'btn btn-primary' %>
  </div>
<% end %>

<h3><%= t('.invite_title') %></h3>
<p>
  <%= link_to t("invite_friends"), new_user_invitation_path %><br />

  <ul>
    <% current_user.invites.each do |invited| %>
      <li>
        <% if invited.confirmed_at %>
          <%= invited.email %>
        <% else %>
          <%= invited.email %> <%= t('.unconfirmed') %>
        <% end %>
      </li>
    <% end %>
  </ul>
</p>

<h3><%= t('.cancel_title') %></h3>

<p><%= button_to t('.cancel_button'), registration_path(resource_name), data: { confirm: t('.confirm') }, method: :delete, class: 'btn btn-danger' %></p>
