<p><%= t("devise.mailer.invitation_instructions.hello", email: @resource.email) %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('.your_email_changed_to') %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t('.your_email_changed_to') %> <%= @resource.email %>.</p>
<% end %>
