<!DOCTYPE html>
<html>
<head>
  <title><%= Setting.app_name %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>


<%= render 'layouts/navbar' %>

<div class="container">
  <div class="mt-4 text-center">
    <h1>
      <%= link_to 'R7B', root_path, class: 'text-dark text-decoration-none' %>
    </h1>
  </div>
  <div class="card bg-light mt-4">
    <div class="card-body">
      <% if notice %><p class="alert alert-success"><%= notice %></p><% end %>
      <% if alert %><p class="alert alert-danger"><%= alert %></p><% end %>

      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
